 @import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url('https://fonts.google.com/specimen/Inter');


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

 .main-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px;
  font-family: "Inter" sans-serif;
 
 }

 .product-list{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  margin: 0;
  padding: 0;

  
 }

.product-item{
  list-style: none;
    width: 250px; 
    height: 400px; 
    margin: 10px;
    padding-bottom:50px
    
  
 }

.product-image{
height:300PX;
border-radius:2px;
width: 100%; 
 }

 .title{
width:230px;
display:flex;
 }
 
 .category-name{
  padding:20px;
 }

 .product-title{
  padding-right:5px;
  font-weight:bold;
    max-width:150px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#000000
  }
 
  .dot{
    height:15px;
    width:15px;
    font-weight:bold;

  }

  .main-heading{
    color:#000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding:20px;
    font-weight:bold

  }

  .price-container{
    width:230px;
    display:flex;
    justify-content:space-around;
  }

  .button{
    width:250PX;
    color:white;
    background-color:#000000;
    border-radius:2px;
    padding-top: 6px;
    padding-bottom:6px;
    border:none
  }


  .tab-btn{
    width:230px;
    padding-top: 8px;
    padding-bottom:8px;
    border:none;
    border-radius:2px;
    font-weight: bold;

  }

  .iconshumans{
    padding-right:5px;
    width:10px;
    height:normal;
  }

.compare-price{
text-decoration: line-through;
color:#8F8F8F
}

.discount{
    color: #FF3737;

}

.actual-price{
    font-weight:bold
} 

.image-container {
  position: relative;
  display: inline-block;
}

.badge {
  position: absolute;
  top: 2px;
  left: 10px;
  background-color:#FFFFFF;
  color: #000000;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 14px;
  font-weight:bold
}



@media only screen and (max-width: 767px) {
  .product-list {
    width: 100%; 
  }

  .product-item {
    width: calc(100% - 20px); 
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .product-item {
    width: calc(50% - 20px); 
  }
}


@media only screen and (min-width: 1025px) {
  .product-item {
    width: calc(25% - 20px); 
  }
}
